* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightskyblue;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(70, 70, 146);
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;

}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}
a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Full-Stack.jpg");
    background-size: cover;
    background-position: center;
}
main {
    margin-right: 100px;
    font-size: large;
}
main h2 {
    margin-left: 40px;
    font-size: 36px;
    width: 200px;
}
.About-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(103, 187, 215);
    color: white;
    float: right;
    width: 75%;
    border: 5px solid black;
}

.About-me img {
    max-height: 200px;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.work {
    margin-top: 10px;
    
}
.work1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    float: right;
    width: 75%;
    border: 5px solid black;
    background-image: url("../images/lap.jpeg");
    background-size: cover;
    background-position: center;
    
}


.work2, .work3, .work4, .work5 {
    width: 37%;
    height: 150px;
    color: #ffffff;
    padding: 50px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid black;
    float: right;
 }
.work2 {
    background-image: url("../images/css.png");
    background-size: cover;
    background-position: center;
}
.work3 {
    margin-right: 13px;
    background-image: url("../images/html.jpeg");
    background-size: cover;
    background-position: center;
}
.work4 {
    background-image: url("../images/other.jpeg");
    background-size: cover;
    background-position: center;
}
.work5 {
    margin-right: 13px;
    background-image: url("../images/java.png");
    background-size: cover;
    background-position: center;
}
.work1 h3, .work2 h3, .work3 h3, .work4 h3, .work5 h3 {
    background-color: pink;
    text-align: center;
}


footer {
    width: 100%;
    display: inline-block;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(70, 70, 146);
    color: #ffffff;
}

footer h1 {
    display: inline-block;
    font-size: 48px;

}
footer .Contect-me {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

footer .Contect-me ul {
    list-style-type: none;
}

footer .Contect-me ul li {
    display: inline-block;
    margin-left: 25px;
    
}